{% extends 'book/core.html' %}
{% load static %}

{% block content %}
<div class="d-flex jumbotron jumbo-color">
    <div class="container">
       <h1 class="text-center">Current User : {{admin}}</h1>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <a href="/book/add" class="btn font-1 m-auto btn-primary ">Add New Book</a>
    <a href="/logout" class="btn font-1 m-auto btn-primary">Logout</a>
</div>
<div class="col-sm-12 mt-2">
    <div class="col-sm-12 mt-2">
        {% for book in books %}
        <div class="d-flex jumbotron jumbotron-fluid jumbo-color">
            <div class="container">
                <p class=" title">{{book.title}}</p>
                <p class="lead">{{book.author}}</p>
                <p class="lead">{{book.pubDate}}</p>
            </div>
            <div class="justify-content-end">
                <a href="/book/update/{{book.id}}" class="btn btn-primary mt-1 justify-content-end">Update Book</a>
                <a href="/book/delete/{{book.id}}"+ class="btn btn-primary mt-1 justify-content-end">Delete Book</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}