{% extends 'book/core.html' %}
{% load static %}

{% block content %}
<div class="container m-auto jumbo-color">
    <p class="title text-center">Update Book</p>
</div>
<div class="col-sm-12 mt-2">
    <div class="w-50 d-flex m-auto">

        <div class="d-flex row justify-content-center container m-2 bg-white">

            <form action="" method="post" autocomplete="off" class="formfonts">
                {% csrf_token %}
    
                {% for fm in form %}
                <div class="form-group mt-4">
                    {{fm.label_tag}}
                    {{fm}}
                    {{book.title}}
                    <small style="color:red">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Update Book" class="btn btn-outline-primary mt-4">
    
                {% if form.non_field_errors %}
                {% for error in form.non_fields_error %}
                {{error}}
                {% endfor %}
                {% endif %}
    
            </form>
        </div>
    </div>
</div>

{% endblock content %}